beautifulsoup4
langchain
langchain_community
langchain_core
langchain_groq
pypdf
groq
langchain_openai
langchain_pinecone
langchain_text_splitters
nemoguardrails
pinecone
python-dotenv
streamlit
langgraph
cassio
langchain_community 
tiktoken 
langchain-groq 
langchainhub 
chromadb 
langchain_huggingface
wikipedia
arxiv